body {
  font-family: "Montserrat", sans-serif;
  height: 100px;
  width: 100%;
 
}

.card-body p {
  color: white;
}

.main {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.bg-img {
  width: 25%;
  border-radius:50%;
  border: rgba(255, 255, 255, 0.5) solid 2px;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px white;
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.nav-item div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  color: white;
  /* font-weight: bold; */
  /* font-family: Arial; */
  /* background: black; */
  /* border-radius: 50%; */
  /* animation: radial-pulse 1s infinite; */
  /* font-size: 10px; */
}

.nav-item > div:hover {
  animation: radial-pulse 1s infinite;
}

.animated-btn {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: bold;
  font-family: Arial;
  /* background: rgba(0,0,255,0.75); */
  border-radius: 50%;
  animation: radial-pulse 1s infinite;
  font-size: 10px;
}
